* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
    background-color: lightgray;
    padding: 16px;
}

.box2 {
    background-color: black ;
    padding: 16px;
}
.box3 {
    background-color: crimson ;
    padding: 24px;
}
.box4 {
    background-color: khaki ;
    padding: 72px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;  height: 100vh;
}

h1 {
    font-size: 72px;
    margin: 30px
}